:root{
  margin-top: 0px;
}
.landingGrid{
  display: grid;
  grid-template-columns: .5fr 2fr;
  width: 100%;
}
/* content */
.content{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.play-button{
  font-size: 2.5em;
  font-weight: bold;
  background-color: #F28500;
}

/* navbar */
.nav-bar{
  grid-row: 1;
  gap: 10px;
  background-color:#191919 ;
  border-radius: 5%;
  height: 60%;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  font-size: 1em;
}

.logo {
  padding: 2em;
  margin-top: 0;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.slide {
  margin-left: 7%;
  position: absolute;
  opacity: 0;
  height: auto;
  transition: opacity 1s ease-in-out;
}
.slide.active {
  opacity: 1;
}

/* Game */
.game{
  display: grid;
  grid-template-columns: .5fr 2fr 1fr;
  gap: 10px;
  padding: 10px;
  font-size: 1em;
}